#inventoryItem{
    width: 100px;
    height: auto;
    position: absolute;
    top: 90%;
}

#description{
    position: absolute;
    left: 200px;
    font-size: 50px;
}

#button3{
    position: absolute;
    top: 150px;
    left: 200px;
}
#button2{
    position: absolute;
    top: 150px;
    left: 400px;
}
#button1{
    position: absolute;
    top: 150px;
    left: 600px;
}