#game-container{
    position: absolute;
    width: 1000px;
    left: 250px;
    right: 0;
    bottom: 0;
    top: 0;
    border: 2px solid black;
}

#title{
    text-align: center;
}

h1{
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

#description{
    padding-left: 15px;
}

#button1{
    margin: 15px;
}

#button2{
    margin: 15px;
}

#button3{
    margin: 15px;
}